@model PSA_MVC_V2.Models.Database.AdditionalService

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AdditionalService</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddServicesPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddServicesPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkReservationreservation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkReservationreservation.ReservationId)
        </dd>
    </dl>
</div>
<div>
    <button type="button" onclick="alert('Užsakymas bus vykdomas')" class="btn btn-primary">Priimti užsakymą</button>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

