@model PSA_MVC_V2.Models.Database.Excursion

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Excursion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ExId" />
            <div class="form-group">
                <label asp-for="ExTitle" class="control-label"></label>
                <input asp-for="ExTitle" class="form-control" />
                <span asp-validation-for="ExTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExPrice" class="control-label"></label>
                <input asp-for="ExPrice" class="form-control" />
                <span asp-validation-for="ExPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExDate" class="control-label"></label>
                <input asp-for="ExDate" class="form-control" />
                <span asp-validation-for="ExDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkAdditionalServicesaddServicesId" class="control-label"></label>
                <select asp-for="FkAdditionalServicesaddServicesId" class="form-control" asp-items="ViewBag.FkAdditionalServicesaddServicesId"></select>
                <span asp-validation-for="FkAdditionalServicesaddServicesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
