@model PSA_MVC_V2.Models.Database.Guest

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<h4>Guest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GNickname" class="control-label"></label>
                <input asp-for="GNickname" class="form-control" />
                <span asp-validation-for="GNickname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GPassword" class="control-label"></label>
                <input type="password" asp-for="GPassword" class="form-control" />
                <span asp-validation-for="GPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
